apiVersion: v1
kind: ResourceQuota
metadata:
  name: dave-resource-quota
spec:
  hard:
    services: "2"
    pods: "2"
    requests.cpu: "1"
    requests.memory: 1Gi
    limits.cpu: "2"
    limits.memory: 2Gi
