apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dave-authentication
  labels:
    app: dave
    layer: auth
    project: dave
  namespace: {{ namespace }}
spec:
  replicas: 1
  template:
    metadata:
      name: dave-authentication
      labels:
        name: dave-authentication
        app: dave
        layer: auth
        project: dave
      #annotations:
      #  container.apparmor.security.beta.kubernetes.io/dave-authentication: runtime/default
      #  container.apparmor.seccomp.beta.kubernetes.io/dave-authentication: docker/default
    spec:
      containers:
        - image: jboss/keycloak:{{ keycloak_release }}
          name: dave-authentication
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          env:
            - name: KEYCLOAK_USER
              valueFrom:
                secretKeyRef:
                  name: dave-authentication
                  key: admin_user
            - name: KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dave-authentication
                  key: admin_password
          ports:
            - containerPort: 8080
              name: https
