apiVersion: v1
kind: Service
metadata:
  name: dave-authentication
  labels:
    app: dave
    layer: auth
    project: dave
  namespace: {{ namespace }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
  selector:
    name: dave-authentication
  type: ClusterIP
