# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-authentication
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: auth
    project: dave
data:
  admin_user: "{{ admin_user | b64encode }}"
  admin_password: "{{ admin_password | b64encode }}"
  tls.key: {{ lookup('file', key_path) | b64encode }}
  tls_cert: {{ lookup('file', cert_path) | b64encode }}
